# 1. 변수

In [3]:
# 이름, 직책, 이메일, 전화번호
name = "홍길동"
position = "대리"
email = "abc@gmail.com"
phone_number = "010-1234-5678"

In [4]:
print(name, position, email, phone_number)

홍길동 대리 abc@gmail.com 010-1234-5678

In [5]:
# 변수명 특징 - 대소문자 구분이 가능합니다.
Age = 30
age = 31

print(Age, age)

30 31

In [6]:
# 변수명 특징 - 특수문자(_ 제외), 숫자로 시작은 안된다.
item?Count = 5

SyntaxError: invalid syntax (2830633971.py, line 2)

In [7]:
100days = 100

SyntaxError: invalid decimal literal (4141780459.py, line 1)

In [4]:
# 변수명 특징 - 예약어는 변수로 쓰면 안된다.
# print = "hello"
print(name)

홍길동

# 2. 자료형

## 3. 숫자형

In [5]:
# 정수
x = 5
y = -8
z = 0

print(x, y, z)
print(type(x), type(y), type(z))

5 -8 0
<class 'int'> <class 'int'> <class 'int'>

In [6]:
money = 10_000_000_000_000
print(money)

10000000000000

### (1) 표현

In [8]:
# 실수(float)
a = 3.14
b = -0.5
c = 1.0

print(a, b, c)
print(type(a), type(b), type(c))

3.14 -0.5 1.0
<class 'float'> <class 'float'> <class 'float'>

In [9]:
# 지수표현
num = 1.0e3

print(num)

1000.0

In [10]:
# 숫자(사칙연산)
## 정수 + 실수 = 실수
num1 = 10
num2 = 1.0

result = num1 + num2
print(result, type(result))

11.0 <class 'float'>

### (2) 산술/복합 연산

In [11]:
#### 산술연산
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# 복합연산
money = 0
print(money)

## 입금
money += 2000 # money = money + 2000
print(money)

## 출금
money -= 500 # money = money - 500
print(money)

0
2000
1500

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [16]:
# 1. 변수 정의
item = 100
show_count = 30
# 2. 연산 설명
page = item // show_count
page += item % show_count // 10

print(page)

4

In [ ]:
## 수학 문제 
## 100 / 30 몫 3 나머지 10
## 30개씩 3페이지가 꽉 차고 다음 페이지에 10개의 게시물이 올라와야 한다. 
## 결론 4페이지를 만들어야 한다. 

# 1. 변수 정의
posts = 100
posts_per_page = 30

# 2. 연산 설명
pages = (posts // posts_per_page) + 1
remainder = posts % posts_per_page
print("100 나누기 30의 나머지", remainder)
print("나머지가 있기 때문에 몫에 1을 더해서", pages)

print("="*100)
## 만약에 120개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요
# 1. 변수 정의
posts = 120
posts_per_page = 30

# 2. 연산 설명
pages = (posts // posts_per_page)
remainder = posts % posts_per_page
print("120 나누기 30의 나머지", remainder)
print("나머지가 없기 때문에 그대로", pages)

## 자동화 한다. 
## 1. 조건 : 나머지가 0이니?
## 맞다 -> + 1 하지 않는다.
## 아니다 -> + 1을 해야 한다.
if(remainder != 0):
    pages += 1

print("pages", pages)

100 나누기 30의 나머지 10
나머지가 있기 때문에 몫에 1을 더해서 4
====================================================================================================
120 나누기 30의 나머지 0
나머지가 없기 때문에 그대로 4
pages 4

출생년도가 1982일 때 홀수, 짝수 판단하기

In [19]:
# 1. 변수 정의
year = 1982
# 2. 연산 설명
is_even = year % 2

if(is_even == 0):
    print("짝수")
else:
    print("홀수")

짝수

In [1]:
## 수학 문제
## 홀수 짝수는 어떻게 판단합니까? 2로 나눠서 나머지가 0이면 짝수이고, 1이면 홀수이다.

# 1. 변수 정의
birth_year = 1982

# 2. 연산 설명
remainder = birth_year % 2
print(remainder)

## 자동화 한다. 
## 1. 조건 : 나머지가 0이니?
## 맞다 -> 짝수라고 답한다. 
## 아니다 -> 홀수라고 답한다.

## 2. 조건 : 나머지가 1이니?
## 맞다 -> 홀수라고 답한다. 
## 아니다 -> 짝수라고 답한다.

0

## 2) ⭐ 문자열

### (1) 표현

In [2]:
message = "안녕하세요?"

print(message, type(message))

안녕하세요? <class 'str'>

In [7]:
# I'm happy 를 출력하고 싶다.
message1 = "I'm happy"
message2 = 'I\'m happy' # 백슬래시(엔터키 위)

print(message1)
print(message2)

message3  = '큰따옴표 출력 : ""'
message4  = "큰따옴표 출력 : \"\""

print(message3)
print(message4)

I'm happy
I'm happy
큰따옴표 출력 : ""
큰따옴표 출력 : ""

In [8]:
# 긴 글 작성하기
review = '''
짜장면이 너무너무 맛있는데,
기사 아저씨가 너무 불친절했어요.
'''
review2 = '''\
짜장면이 너무너무 맛있는데,
기사 아저씨가 너무 불친절했어요.\
'''

print(review)
print(review2)

짜장면이 너무너무 맛있는데,
기사 아저씨가 너무 불친절했어요.

짜장면이 너무너무 맛있는데,
기사 아저씨가 너무 불친절했어요.

### (2) 연산

In [9]:
# 문자열 연산 : 덧셈 (합치기)
text1 = 'hello'
text2 = 'python'

text1 = text1 + text2
print(text1)

hellopython

In [11]:
# 문자열 연산 : 곱셈 (반복)
print("="*50)
print("best"*3)

==================================================
bestbestbest

In [ ]:
print('*' * 50)
print('Loop 1. 데이터 수집을 시작합니다.')
print('*', 100)

In [13]:
# 문자열 길이를 출력하는 함수 - len()
text1 = "hello"
text2 = "hello "
print(len(text1))
print(len(text2))

5
6

### (3) 인덱싱/슬라이싱

### 인덱싱

##### 문제.주민등록번호에서 성별을 추출해주세요.

In [15]:
regist_num = "901212-1325221"

print(regist_num[7]) # 1
print(regist_num[-7]) # 1

1
1

#### 슬라이싱

문제.주민등록번호에서 생년월일을 추출해주세요.

In [16]:
regist_num = "901212-1325221"

print(regist_num[0:6]) # 901212
print(regist_num[0:6]) # 901212

print(regist_num[7:]) # 1325221

901212
901212
1325221
-

In [45]:
text = 'my name is narae.'
print(text[3:7])
print(text[-6:-1])

name
narae

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [22]:
# 1. 뒷자리를 추출한다.
# 2. 뒷자리의 길이를 구한다.
# 3. 주민등록번호 길이에서 뒷자리의 길이를 뺀다.
# 4. 뺀 만큼만 맨 앞에서부터 가져온다.
# 5. * 뒷자리의 길이만큼 반복한다.
# 6. 합친다.
regist_num = "901212-1325221"

## 1. 901212-1 을 추출한다.
## 2. *을 6번 반복한다.
## 1번과 2번을 합친다.
temp = regist_num[:8]
print(temp)
stars = "*" * 6
print(stars)
print(temp + stars)

901212-1
******
901212-1******

### (4) 문자열 포매팅(f-string)

In [28]:
name = "신짱구"

print(name, "님 안녕하세요.")
print(f"{name}님 안녕하세요.")

신짱구 님 안녕하세요. <class 'str'>
신짱구님 안녕하세요.

In [27]:
accuracy = 0.95

print(f"Accuracy: {accuracy}")

Accuracy: 0.95

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

예제. 파일 확장자 찾기

#### 문자열 대체(replace)

In [30]:
posts = "잘좀 해주세요. ㅋ"

print(posts.replace("ㅋ", ""))

잘좀 해주세요.

#### 대/소문자 변환(lower, upper)

#### 공백 제거(lstrip/rstrip/strip)

#### 카운트 세기(count)

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [32]:
review = '''\
짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿\
'''

print(review)
print(review.count("짜장면"))
print(review.count("짬뽕"))

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿
2
1

## 3) 리스트(List)

### (1) 표현

In [ ]:
member = []
print(member, type(member))

[] <class 'list'>

In [49]:
temperature = [33.0, 32, 34,9, 45, "", None]
print(temperature)

[33.0, 32, 34, 9, 45, '', None]

In [ ]:
member = [1, 2, 3, "가", ["a", "b", "c"]]
print(member)

[1, 2, 3, '가', ['a', 'b', 'c']]

In [ ]:
print(len(member))

5

### (2) 인덱싱/슬라이싱

#### 인덱싱

In [56]:
member = ["유재석", 70, "박명수", 95, "노홍철", 90]
print(member)

print(member[4], member[-2])

print(member[3], member[-3])

['유재석', 70, '박명수', 95, '노홍철', 90]
노홍철 노홍철
95 95

#### 슬라이싱

In [63]:
member = ["유재석", 70, "박명수", 95, "노홍철", 90]

print(member[2:4])
print(member[4:], member[-2:])
print(member[0:4], member[:4])

['박명수', 95]
['노홍철', 90] ['노홍철', 90]
['유재석', 70, '박명수', 95] ['유재석', 70, '박명수', 95]

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [64]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]

print(data[3][1])

cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [66]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[-1][:2])

['dog', 'cat']

### (2) 연산

#### 덧셈

#### 곱셈

### (3) range

In [67]:
num_list = list(range(5))

print(num_list)

[0, 1, 2, 3, 4]

In [68]:
num_list1 = list(range(5))
num_list2 = list(range(0, 5, 2))
num_list3 = list(range(5, 0, -1))

print(num_list1)
print(num_list2)
print(num_list3)

[0, 1, 2, 3, 4]
[0, 2, 4]
[5, 4, 3, 2, 1]

In [80]:
# 0 ~ 9까지 정수 출력하기
print(list(range(10)))

# 2에서 6까지 정수 출력하기
print(list(range(2, 7)))

# 0에서 10까지 홀수 출력하기
print(list(range(1, 10, 2)))

# 10에서 0까지 2씩 내려가는 정수 출력하기
print(list(range(10, -1, -1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### (4) 수정/추가/삭제

#### 수정

In [2]:
num_list = list(range(10))

num_list[1:3] = ["1", "2", "3"]
print(num_list)

num_list[6:7] = [9]
print(num_list)

[0, '1', '2', '3', 3, 4, 5, 6, 7, 8, 9]
[0, '1', '2', '3', 3, 4, 9, 6, 7, 8, 9]

In [5]:
num_list = list(range(9))
print(num_list)

print(num_list[7:])
num_list[7:] = [9]
print(num_list)

print(num_list[7:])
num_list[7:] = ['hello']
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[7, 8]
[0, 1, 2, 3, 4, 5, 6, 9]
[9]
[0, 1, 2, 3, 4, 5, 6, 'hello']

#### 추가

In [9]:
num_list = list(range(10))

num_list.append([1, 2, 3])

print(num_list)

num_list.extend([1, 2, 3])

print(num_list)
print(num_list + [100, 200, 300])
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3], 1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3], 1, 2, 3, 100, 200, 300]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3], 1, 2, 3]

In [15]:
team1 = ["ISFJ", "ESTJ", "ESFP", "ENFP"]
team2 = ["INFP", "ESFP", "ISFP", "ESFJ"]
team3 = ["ESTJ", "ISFJ", "ISTP", "INTJ"]

class_1 = [team1, team2, team3]
print(class_1)

class_2 = team1 + team2 + team3

print(class_2)

[['ISFJ', 'ESTJ', 'ESFP', 'ENFP'], ['INFP', 'ESFP', 'ISFP', 'ESFJ'], ['ESTJ', 'ISFJ', 'ISTP', 'INTJ']]
['ISFJ', 'ESTJ', 'ESFP', 'ENFP', 'INFP', 'ESFP', 'ISFP', 'ESFJ', 'ESTJ', 'ISFJ', 'ISTP', 'INTJ']

In [ ]:
team1 = ["ISFJ", "ESTJ", "ESFP", "ENFP"]
team2 = ["INFP", "ESFP", "ISFP", "ESFJ"]
team3 = ["ESTJ", "ISFJ", "ISTP", "INTJ"]

data = []
data.append(team1)
data.append(team2)
data.append(team3)
print(data)

data = []
data.extend(team1)
data.extend(team2)
data.extend(team3)
data.extend(team3)
print(data)

[['ISFJ', 'ESTJ', 'ESFP', 'ENFP'], ['INFP', 'ESFP', 'ISFP', 'ESFJ'], ['ESTJ', 'ISFJ', 'ISTP', 'INTJ']]
['ISFJ', 'ESTJ', 'ESFP', 'ENFP', 'INFP', 'ESFP', 'ISFP', 'ESFJ', 'ESTJ', 'ISFJ', 'ISTP', 'INTJ']

In [18]:
data = [1, 2, 4, 5]
print(data)

data.insert(2, 3)
print(data)

[1, 2, 4, 5]
[1, 2, 3, 4, 5]

#### 삭제

In [21]:
data = list(range(0, 100, 10))
print(data)

del data[5]
print(data)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 60, 70, 80, 90]

In [ ]:
data = list(range(0, 100, 10))
print(data)

data.remove(50)
print(data)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 60, 70, 80, 90]

In [24]:
data = list(range(0, 100, 10))
print(data)

data.pop(0)
print(data)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [12]:
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]

post_data.remove("ID001")
print(post_data)

['ID002', 'ID003', 'ID004', 'ID005']

In [27]:
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]

error_data = []
error_post = post_data.pop(2)
print(f"에러 포스트 : {error_post}")
error_data.append(error_post)
print(f"기존 리스트 : {post_data}")
print(f"에러 리스트 : {error_post}")

에러 포스트 : ID003
기존 리스트 : ['ID001', 'ID002', 'ID004', 'ID005']
에러 리스트 : ID003

## 4) 튜플(Tuple)

In [28]:
my_tuple = ()

print(my_tuple, type(my_tuple))

() <class 'tuple'>

In [29]:
my_tuple = (1)

print(my_tuple)

1

### (1) 표현

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [30]:
dict_ = {}

print(dict_, type(dict_))

{} <class 'dict'>

In [32]:
student = ["홍길동", 28, 177.6, [76, 88, 96, 76]]
print(student)

['홍길동', 28, 177.6, [76, 88, 96, 76]]

In [33]:
student = {
    "name": "홍길동",
    "age": 28,
    "height": 177.6,
    "score": [76, 88, 96, 76]
}

print(student)
print(student["height"])

{'name': '홍길동', 'age': 28, 'height': 177.6, 'score': [76, 88, 96, 76]}
177.6

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [40]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

weather_data["city"] = "Busan"
weather_data["pm10"] = 34
weather_data["forecast"].extend(['Rainy', 'Rainy'])

print(weather_data)

{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy'], 'pm10': 34}

In [47]:
t_dic = ({"a": 1})
print(t_dic["a"])

1

### (3) 관련 메서드

#### 조회

#### 삭제

## 6) 집합

### (1) 표현

In [49]:
set_ = set()
print(set_, type(set_))

set() <class 'set'>

In [50]:
numbers = [1, 3, 2, 4, 4, 1, 1, 1, 1]

unique = set(numbers)
print(unique)

{1, 2, 3, 4}

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [ ]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(emails)
print(len(emails))

unique_emails = set(emails)
print(unique_emails)

['user1@example.com', 'user2@example.com', 'user1@example.com', 'user3@example.com', 'user2@example.com']
5
{'user1@example.com', 'user3@example.com', 'user2@example.com'}

### (2) 요소 추가/제거

#### 추가

#### 제거

### (3) 연산

In [ ]:
set_1 = {"A", "C", "D", "F", "G"}
set_2 = {"A", "B", "F", "H"}

diff = set_1 & set_2
print(diff)

diff = set_1.intersection(set_2)
print(diff)

diff = set_2.intersection(set_1)
print(diff)

{'A', 'F'}
{'A', 'F'}
{'A', 'F'}

In [ ]:
set_1 = {"A", "C", "D", "F", "G"}
set_2 = {"A", "B", "F", "H"}

diff = set_1 | set_2
print(diff)

diff = set_1.union(set_2)
print(diff)

diff = set_2.union(set_1)
print(diff)

{'H', 'A', 'F', 'B', 'C', 'G', 'D'}
{'H', 'A', 'F', 'B', 'C', 'G', 'D'}
{'A', 'F', 'D', 'B', 'C', 'G', 'H'}

In [4]:
set_1 = {"A", "C", "D", "F", "G"}
set_2 = {"A", "B", "F", "H"}

diff = set_1 - set_2
print(diff)

diff = set_1.difference(set_2)
print(diff)

diff = set_2.difference(set_1)
print(diff)

{'D', 'G', 'C'}
{'D', 'G', 'C'}
{'B', 'H'}

## 7) 불